@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 770;
    max-width: 62em;
    margin: auto auto;
    padding: 2em;
}

header {
    margin-bottom: 2em;
}

address {
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    position: relative;
    margin: 1em 0 0 6em;
}
address #address-leader {
    position: absolute;
    left: -6em;
}

address a {
    position: absolute;
    color: black;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #FF5716;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

h3 {
    font-size: 1em;
}

h3 ~ h3 {
    margin-top: 0.5em;
}

section {
    padding: 1em 0 0 0 ;
}

ul {
    padding-left: 1em
}
ul li {
    font-weight: 400;
}

#whoiam a {
    display: block;
    font-weight: 400;
    font-style: italic;
    color: black;
    text-decoration: underline;
    margin-top: 1em;
}

@media screen and (min-width: 64em) {
    #offerings,
    #education {
        float: right;
    }

    #expertise,
    #clients,
    #toolbelt {
        float: left;
    }
}

@media screen and (max-width: 64em) {
    #details section {
        max-width: 48em;
        width: 100% !important;
    }
}

#details {
}

#details section {
    width: 28em;
}


#expertise ul {
    padding-left: 0;
}
#expertise ul li {
    list-style-type: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.4em 0.8em;
    margin: 0.2em 0.1em;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-size: 0.6em;
}
#education p {
    font-weight: 400;
}

footer {
    clear: both;
}
